.main{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #0abde3;  */
  padding: 20px 50px;
  z-index: 99;
}
.list{
  display: inline-flex;
  align-items: end;
  justify-content: flex-end;
  height: 50px;
  width: 100%;
}
.list .cx a {
  position: relative;
  color: #2f3640;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  height: 35px;
  display: inline-flex; 
  justify-content: center;
  margin-left: 40px;  
}
.list .cx a::after {
content:'';
position: absolute;
left: 0;
bottom: -6px;
width:100%;
height: 3px;
background: #ffffff;
border-radius: 5px;
transform-origin: right;
transform: scaleX(0);
transition: .5s;
}
.list .cx a:hover::after{
  transform-origin: left;
  transform: scaleX(1);

}
.list .btnLogin-popup {
  width: 90px;
  height: 40px;
  background: transparent;
  border: 2px solid #2f3640 ;
  padding-right: 40px;
  padding-top: 7px;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  text-indent: 37px;
  /* text-decoration: none; */
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  margin-left: 40px;
  margin-bottom: 5px;
  transition: .3s;
}
.btnLogin-popup a{
  text-decoration: none;
  color: #2f3640;
}
.list .btnLogin-popup:hover {
background: #ffffff;
color:#2f3640;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255,255,255,1);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

