* {
  margin:0px ;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.Login-form{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: url(../img/a.jpg) no-repeat; 
background-size: cover;
background-position: center;
}
.signUp{
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255,255,255,1);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);

}
.icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #ffffff;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  cursor: pointer;
  z-index: 1;

}
header{
  color: #ffffff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0px;
}
.input-field{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;

}
.input{
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 30px;
  color: #ffffff;
  padding: 0 0 0 45px;
  background: rgba(255,255,255,0.1);
}
::-webkit-input-placeholder{
  color: #ffffff;
} 
.submit{
  border: none;
  border-radius: 30px;
  font-size: 15px;
  height: 45px;
  outline: none;
  width: 300px;
  background: rgba(255, 254, 254, 0.95);
  cursor: pointer;
  transition: .3s;
}
.submmit:hover{
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
  color: #ffffff;
  margin: 15px 0 20px;
}
.left{
  display:flex;
  gap:2px;
}
.left label a{
  color: #ffffff;
  text-decoration: none;
}
.right a{
  color: #ffffff;
  text-decoration: none;
}
.right label a:hover{
  text-decoration: underline;
}
.login-register{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .9em;
  gap:10px;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.register-link{
  text-decoration: none;
  color:black;
}
.register-link:hover{
 text-decoration: underline;
 cursor: pointer;
}
















